<div class="row"><!-- row header -->
  <div class="col-lg-12">
    <h2>Enterprise IT Dashboard</h2>
  </div>
  <div class="row"><!-- row 1 -->
    <div class="col-lg-4">
    </div>
  </div><!-- row 1 -->
</div><!-- row header -->
