<div class="row"><!-- row header -->
  <div class="col-lg-12">
    <h2>Enterprise IT Dashboard</h2>
  </div>
  <div class="row"><!-- row 1 -->
    <div class="col-lg-4">
      <%= pie_chart App.group(:prog_lang_1).count %>
      <h4 class="chart-title">Programming Languages</h4>
    </div>
  </div><!-- row 1 -->
</div><!-- row header -->
