// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chart-title {
  text-align: center;
}

.app-count {
  height: 200px;
  text-align: center;
  font-size: 125px;
  color: blue;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  padding-bottom: 15px;
}

.user-count {
  height: 200px;
  text-align: center;
  font-size: 100px;
  color: gray;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  padding-bottom: 15px;
}
